<nav>
  <h1>
    <a href="/" class="text-white"> CSAMS </a>
  </h1>
  <ul>
    <li><a data-text="Member" href="/member/">Member</a></li>
    <li><a data-text="Manager" href="/manager/">Manager</a></li>
  </ul>
</nav>